#ignore thumbnails created by windows
Thumbs.db
#Ignore build output folders
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
_ReSharper*/
deploy.config
Examples*/
*.vsmdi
*.pidb
*.userprefs
*.testrunconfig
publish.xml
NuGet/*.nupkg